@model TareasWeb.Models.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"].</h2>

            <div class="col-md-2">
                <img src="@Model.ProfileImage"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                <h3>@Model.NickName</h3>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.Name
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Token de API</h3>
                <p>@Model.ApiToken</p>
            </div>
        </div>
        <div class="row">
            <h3>Claims associated with current User</h3>
            <p>This page displays all the claims associated the the current User. This is useful when debugging to see which claims are being populated from the Auth0 ID Token.</p>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Claim
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var claim in User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div> 
</div>